/* TAG SECTION */
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

span {
  text-decoration: underline;
}

a {
  color: #11999E;
}

h1 {
  color: #66BFBF;
  margin: 50px auto auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  width: 5%;
  border: 10px dotted;
  border-color: #F67575;
  border-bottom: none;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 25px 50px;
  text-decoration: none;
}

a:hover {
  color: #545454;
}

/* top-container */
.top-container {
  background-color: #e0ebe8;
  padding-top: 80px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 60px;
}
/* middle-container */
.middle-container {
  margin: 100px 0px;
  padding-bottom: 50px;
}

.profile {
  padding: 5% 25% 2%;
  margin: 0 auto;
  line-height: 2;
}

.profile-icon {
  margin: 0 auto;
  width: 15rem;
  height: 15rem;
}

/* .html-icon {
  width: 25%;
  float: left;
  margin-right: 30px;
} */
/* Skills */
.skill-row {
  padding: 7% 20% 2%;
  display: flex;
}

.skill-icon img {
  width: 15rem;
  height: 15rem;
}

.skill-description {
  text-align: left;
  margin-left: 2rem;
}

/* Css skills */
.skill-row.css-skill {
  flex-flow: row-reverse;
}

/* .css-icon {
  order: 2;
}

.css-description {
  order: 1;
} */
/* Contacts */
.contact-me {
  padding: 2% 25%;
}

.contact-msg {
  margin: 3rem auto;
  line-height: 2;
}

.copyright {
  color: #66BFBF;
  font-size: 0.75rem;
  padding-top: 20px;
}
/* Bottom container */

.bottom-container {
  padding: 50px 0px 25px;
  /* color:#66BFBF; */
  background-color: #E0EBE8;
}

.bottom-cloud {
  position: absolute;
  left: 230px;
  bottom: 300px;
}

/* BUTTON GENERATOR */
.btn {
  border-top: 1px solid #96d1f8;
  background: #11999e;
  background: -webkit-gradient(linear, left top, left bottom, from(#11cdd4), to(#11999e));
  background: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background: -moz-linear-gradient(top, #11cdd4, #11999e);
  background: -ms-linear-gradient(top, #11cdd4, #11999e);
  background: -o-linear-gradient(top, #11cdd4, #11999e);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  vertical-align: middle;
  margin: 50px auto 60px auto;
}

.btn:hover {
  border-top-color: #2bc4ad;
  background: #2bc4ad;
  color: #ffffff;
}

.btn:active {
  border-top-color: #F67575;
  background: #F67575;
}

/* Media Queries */
/* @media only screen and (max-width:767px){

  .profile, .contact-me, .skill-description{
    padding: 10px 30px;
  }
} */
@media only screen and (max-width:1200px) {

  /* TOP CONTAINER */
  .top-cloud {
    position: absolute;
    top: 50px;
    right: 10px;
  }

  .bottom-cloud {
    position: absolute;
    left: 10px;
    bottom: 280px;
  }
}

@media only screen and (max-width:1023px){

  /* Middle Container */
  .skill-row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .skill-description {
    text-align: center;
    margin-left: 0;
  }

  .profile, .contact-me, .skill-row {
    padding: 5% 10%;
  }
}
